<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.dehaas.chesser" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher5"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Game"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="chess.game" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Welcome"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="first.activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OpenServer"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_open_server"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="chess.openServer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConnectToServer"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_connect_to_server"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="chess.connectToServer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
